* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-image: cover;
    background-position: 0% 2%;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1200px) {
body {
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-image: cover;
    background-position: 0% 0%;
    background-color: hsl(257, 40%, 49%);
    }
}

header {
    margin-top: 2.2rem;
    margin-left: 2.5rem;
    margin-bottom: 3.6rem;
}

@media (min-width: 1200px) {
header {
    margin-top: 3.6rem;
    margin-left: 4.2rem;
    }
}

header img {
    width: 39%;
    height: 39%;
}

@media (min-width: 1200px) {
header img {
    width: 15.7%;
    height: 15.7%;
    }
}

.vertical-row-Flex {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 1200px) {
.vertical-row-Flex {
    width: 91%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.4rem;
    margin-left: 4.5rem;
    }
}

.vertical-row-Flex img {
    width: 90%;
    margin-bottom: 3.2rem;
}

@media (min-width: 1200px) {
.vertical-row-Flex img {
    width: 65%;
    margin-top: 1.2rem;
    margin-bottom: 1.7rem;
    }
}

.buildRegisterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}

@media (min-width: 1200px) {
.buildRegisterDiv {
    width: 100%;
    align-items: flex-start;
    gap: 1.5rem;
    }
}

.build {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

@media (min-width: 1200px) {
.build {
    align-items: flex-start;
    gap: 1rem;
    }
}

.build h1 {
    width: 80%;
    font-size: 1.43rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: white;
    text-align: center;
}

@media (min-width: 1200px) {
.build h1 {
    width: 92%;
    font-size: 2.46rem;
    font-weight: 500;
    text-align: left;
    line-height: 4rem;
    margin-top: 3.5rem;
    }
}

.build p {
    width: 90%;
    font-size: .92em;
    font-weight: 300;
    line-height: 1.5rem;
    color: white;
    opacity: .8;
    text-align: center;
}

@media (min-width: 1200px) {
.build p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.7rem;
    text-align: left;
    }
}

.register {
    background-color: white;
    border-radius: 100px;
    margin-bottom: 2rem;
}

@media (min-width: 1200px) {
.register {
    margin-bottom: 1rem;
    }
}

.register p {
    font-size: .8rem;
    text-align: center;
    color: gray;
    padding-top: 11px;
    padding-right: 78px;
    padding-bottom: 11px;
    padding-left: 78px;
}

@media (min-width: 1200px) {
.register p {
    font-size: 1.1rem;
    padding-top: 16.2px;
    padding-right: 71px;
    padding-bottom: 16.2px;
    padding-left: 71px;
    }
}

footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 1200px) {
.footer {
    gap: 2rem;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
}

.socialDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    margin-top: 1.7rem;
}

@media (min-width: 1200px) {
.socialDiv {
    margin-top: .2rem;
    margin-left: 68rem;
    }
}

.socialDiv img {
    width: 95%;
    height: 95%;
    border: white;
    border-radius: 50%;
}

@media (min-width: 1200px) {
.socialDiv img {
    width: 43px;
    height: 43px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution p {
    font-size: 11px;
    color: rgb(189, 187, 187);
}

@media (min-width: 1200px) {
.attribution p {
    font-size: 15px;
    }
}

.attribution a {
    color: rgb(189, 187, 187);
}

@media (min-width: 1200px) {
.attribution a {
    font-size: 15px;
    }
}